<!-- if there are any errors present, display the contents of the array with its own paragraph (p) element -->
<% if(typeof errors!= 'undefined') { %>
    <%    errors.forEach(function(error){ %>
    <p> <%= error.msg %></p>
    <%    })        %>
    <% } %>
    
<!-- success flash message -->
    <% if(success_msg!= '') { %>
        <p><%=success_msg %> </p>
        <% } %>

<!-- error message -->
    <% if(error_msg != '') { %>
        <%= error_msg %> 
        <% } %> 
        <% if(error != '') { %>
            <%= error %>
            <% } %>
